# The intention of this file is to define the owners of the code
# please refer to https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-file-location

@carlosbajo
@MqrcosT
@Pollitzu
@AlbertoEspinoz